.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 4rem 1rem;
  padding-block: 4rem;
}

@media screen and (min-width: 580px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 2rem 2rem;
  }
}
