.wrapper {
  width: 100%;
  padding: 3rem 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: var(--fff);
  box-shadow: var(--shadow-color);
  padding: 2rem;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 4rem;
  height: 100%;
}

.image {
  position: relative;
}

.image > span {
  z-index: 1;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details > h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.price {
  font-size: 3rem;
  color: var(--price);
  font-weight: 500;
  margin-bottom: 2rem;
}

.phone {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.textGroup {
  margin-bottom: 1.6rem;
}

.textGroup > span:first-child {
  font-weight: 500;
}

.textLink {
  color: var(--primary);
  cursor: pointer;
}

.bottom {
  margin-top: 3rem;
}

.description > h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.request {
  margin-top: 4rem;
}

.request > h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .top {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .image {
    height: 300px;
  }
}

.modalContentWrapper {
  width: 90%;
  max-width: 500px;
  margin-inline: auto;
  background-color: var(--bg);
  color: var(--text);
  padding: 2rem;
  box-shadow: var(--shadow-color);
}

.modalButtons {
  display: flex;
  gap: 2rem;
}

.modalButtons > button {
  background-color: var(--primary);
  color: var(--white);
  padding: 5px 16px;
  border-radius: 4px;
  transition: var(--transition);
}

.modalButtons > button:hover {
  opacity: 0.6;
}

.modalButtons > button:active {
  transform: scale(0.8);
}
