.profile {
  width: 100%;
  max-width: var(--max-width);
  padding: 4rem 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.detailsCol {
  background-color: var(--fff);
  padding: 2rem 4rem;
  box-shadow: var(--shadow-color);
  border-radius: 4px;
}

.editCol {
  background-color: var(--fff);
  padding: 2rem 4rem;
  box-shadow: var(--shadow-color);
  border-radius: 4px;
}

.heading {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--text-muted);
  margin-bottom: 3rem;
}

.metadata {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePicture,
.storeImg {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--text-faded);
  margin-bottom: 1.8rem;
}

.profilePicture > span,
.storeImg > span {
  z-index: 1;
}

.fullname {
  text-transform: capitalize;
  font-size: 2.2rem;
  font-weight: 500;
}

.username {
  color: var(--text-muted);
}

.username::before {
  content: "@";
}

.bio > p {
  color: var(--text-muted);
}

.linkProfile {
  margin-top: 3rem;
}

.profileLink {
  background-color: var(--bg2);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 4px;
  font-size: 1.4rem;
}

.profileLink > p {
  overflow-x: auto;
}

.profileLink > span {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.copyIcon {
  cursor: pointer;
  color: var(--primary);
  transition: var(--transition);
}

.copyIcon:hover {
  transform: scale(1.2);
}

.copyIcon:last-child {
  font-size: 2rem;
}

.contact {
  margin-top: 4rem;
  width: 100%;
  overflow-x: auto;
  max-width: 380px;
}

.contact::-webkit-scrollbar,
.profileLink > p::-webkit-scrollbar {
  height: 4px;
  background-color: var(--text-faded);
}
.contact::-webkit-scrollbar-thumb,
.profileLink > p::-webkit-scrollbar-thumb {
  background-color: var(--text-faded);
}

.contact > h3,
.linkProfile > h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-muted);
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
}

.table > tbody {
  width: 100%;
}

.table > tbody > tr {
  height: 60px;
  width: 100%;
  max-width: 360px;
  background-color: var(--bg);
  border-bottom: 1px solid var(--text-faded);
}

.table > tbody > tr > td {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.table > tbody > tr > td:first-child {
  font-weight: 500;
  color: var(--text-muted);
}

.fileUpload {
  display: grid;
  gap: 4rem;
  margin-top: 6rem;
}

.editDetails,
.editPassword {
  margin-top: 8rem;
}

.editDetails > form,
.editPassword > form {
  display: grid;
  gap: 3rem;
}

.myStore {
  margin-top: 5rem;
}

.storeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storeText > h3 {
  font-weight: 500;
  font-size: 2rem;
}

.storeText > p {
  color: var(--text-muted);
  margin-bottom: 3rem;
}

.createStore {
  height: 100px;
  border: 3px dashed var(--primary);
  border-radius: 20px;
  display: grid;
  place-items: center;
}

.createStore > button {
  font-weight: 500;
  color: var(--primary);
  padding: 1rem 2rem;
}

.orders {
  margin-top: 5rem;
}

.orders > h4 {
  margin-bottom: 2rem;
  font-weight: 500;
}

.orders > button {
  margin-bottom: 3rem;
}

@media (max-width: 840px) {
  .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .profile {
    padding: 0;
  }

  .container {
    width: 100%;
  }

  .detailsCol {
    padding: 2rem;
  }

  .editCol {
    padding: 2rem;
  }

  .profileLink {
    display: grid;
    justify-content: center;
  }

  .profileLink > span {
    justify-content: center;
    gap: 4rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .table > tbody > tr {
    width: 100%;
  }
}

/* single store page */

.container.store {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.container.store .contact {
  margin-top: 4rem;
  width: 100%;
  overflow-x: auto;
  max-width: 100%;
}

.ownerWrapper {
  margin: 8rem 0;
}

.storeOwner {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.storeOwner > .profilePicture {
  width: 120px;
  height: 120px;
}

.ownerDetails {
  display: grid;
  gap: 1rem;
}

.ownerDetails > * {
  margin: 0;
}

.ownerDetails > h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.ownerDetails > h4,
.ownerDetails > p {
  color: var(--text-muted);
}

.ownerDetails > h4::before {
  content: "@";
}

.storeListings {
  margin-bottom: 4rem;
}

@media (max-width: 440px) {
  .storeOwner {
    flex-direction: column;
  }

  .ownerDetails {
    place-items: center;
  }
}

.setting {
  position: relative;
}

.setting > h3 {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.setting > h3 > span {
  color: var(--warning);
}

.deleteModal > p {
  display: flex;
  gap: 1rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.deleteModal > p > span {
  color: var(--warning);
  font-size: 2rem;
}

.deleteModal > button {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.primary {
  color: var(--primary) !important;
}
