.row {
  width: 100%;
  display: flex;
  gap: 2rem;
  background-color: var(--bg2);
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--text-faded2);
  position: relative;
}

.image {
  position: relative;
  width: 300px;
  /* aspect-ratio: 1/1; */
}

.image > span {
  z-index: 1;
}

.orderDetails {
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.buttons > button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  margin-top: 2rem;
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-radius: 4px;
  color: var(--white);
  font-size: 1.2rem;
}

.row > .buttons > button {
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  .buttonTitle {
    display: none;
  }
}

@media (max-width: 540px) {
  .buttons {
    justify-content: right;
  }
}

.title {
  font-weight: 500;
  font-size: 2.4rem;
}

.storeName {
  margin-bottom: 2rem;
}

.storeName > span:first-child {
  font-weight: 500;
  font-size: 1.6rem;
}

.storeName > span:last-child {
  color: var(--primary);
  cursor: pointer;
}

.date {
  color: var(--text-muted);
  font-weight: 500;
}

.deleteGroup {
  position: relative;
}

.deleteModal {
  position: absolute;
  width: fit-content;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--bg);
  z-index: 4;
  color: var(--text);
  padding: 2rem;
  font-size: 1.4rem;
  box-shadow: var(--shadow);
}

.deleteModal > p {
  font-weight: 500;
}

.warning {
  color: var(--warning);
  margin-right: 5px;
}

.confirmDelete {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.confirmDelete > button {
  padding: 4px 2rem;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--text);
  box-shadow: var(--shadow);
}

.confirmDelete > button:first-child {
  background-color: var(--danger2);
}

.confirmEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.confirmEdit > button {
  background-color: var(--primary);
  color: var(--white);
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: var(--shadow);
  transition: all 150ms ease;
}

.confirmEdit > button:hover {
  opacity: 0.6;
}
.confirmEdit > button:active {
  transform: scale(0.9);
}
.confirmEdit > button:disabled {
  opacity: 0.6;
}

.confirmEdit > button[data-pending] {
  background-color: var(--warning);
}
.confirmEdit > button[data-processing] {
  background-color: var(--violet);
}
.confirmEdit > button[data-delivered] {
  background-color: var(--success);
}

.orderStatus {
  border: 2px solid var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  align-self: flex-end;
}

.orderStatus[data-name="declined"] {
  border-color: var(--danger2);
}
.orderStatus[data-name="cancelled"] {
  border-color: var(--warning2);
}
.orderStatus[data-name="delivered"] {
  border-color: var(--success2);
}

@media (max-width: 540px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
    padding-right: 0;
    padding: 2rem;
  }

  .image {
    position: relative;
    width: 100%;
    height: 200px;
  }
}

.price {
  font-size: 2.6rem;
  font-weight: 500;
  cursor: default !important;
  color: var(--price) !important;
}

.category {
  font-size: 1.6rem;
  font-weight: 500;
}
